<h1>Últimas perguntas</h1>

<ul>
  <li>
    <%= link_to t("filter.all"), questions_path %>
  </li>

  <li>
    <%= link_to t("filter.unanswered"), questions_path(:filter => QuestionFilter::UNANSWERED) %>
  </li>
</ul>

<% content_for :paginate do %>
  <%= paginate @questions %>
<% end %>

<%= yield :paginate %>

<% iterate @questions do |question| %>
  <%= render question %>
<% end %>

<%= yield :paginate %>
