<%= form_for @user, :url => signup_path do |f| %>
  <%= render "shared/error_messages", :record => @user %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= error_for @user, :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= error_for @user, :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= error_for @user, :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= error_for @user, :password_confirmation %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>