<header class="main container">
  <%= link_to image_tag("hackerboard.png"), root_path %>

  <% if logged_in? %>
    <p>
      <%= t("user.greeting", :name => current_user.name) %>
    </p>
  <% end %>

  <nav>
    <ul>
      <li class="new-question"><%= link_to t("nav.new_question"), new_question_path %></li>

      <% if logged_in? %>
        <li class="logout"><%= link_to t("nav.logout"), logout_path, :class => "button" %></li>
      <% else %>
        <li class="signup"><%= link_to t("nav.signup"), signup_path %></li>
        <li class="login"><%= link_to t("nav.login"), login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>